body{
    margin:0;
    font-family:Arial;
    background:#06141f;
    color:white;
}

/* HEADER */
header{
    padding:30px;
    background:#020c14;
    background-image: url("https://thumbs.dreamstime.com/b/submarine-cruises-underwater-sunlight-illuminating-sea-above-402991313.jpg");
    background-size: 50%;
    border-bottom:2px solid cyan;
}

.header-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.settings{
    font-size:52px;
    cursor:pointer;
}

/* Layout */
.dashboard{
    display:flex;
    gap:40px;
    padding:40px;
}

/* RADAR */
.radar{
    width:250px;
    height:250px;
    border-radius:50%;
    border:3px solid cyan;
    position:relative;
    overflow:hidden;
    box-shadow:0 0 25px cyan;
}

.scan{
    width:100%;
    height:100%;
    background:linear-gradient(transparent, rgba(0,255,255,0.4));
    image-rendering: https://t3.ftcdn.net/jpg/17/01/48/48/360_F_1701484810_qNAhi8EvS1VXbjVgk7hlK4od04AuyxCm.jpg;
        position:absolute;
    animation:rotate 4s linear infinite;
}

@keyframes rotate{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

/* CONTROLS */
.controls input{
    padding:8px;
    margin:5px;
    border-radius:5px;
    border:none;
}

.add-btn{
    background:#00ffae;
    font-weight:bold;
}

.preview{
    width:90px;
    display:block;
    margin:10px 0;
    border-radius:6px;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    background:#081b29;
    margin-top:20px;
}

th{
    background:#00e5ff;
    color:black;
    padding:12px;
}

td{
    padding:12px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.waste-img{
    width:90px;
    height:70px;
    object-fit:cover;
    border-radius:6px;
}

button{
    padding:7px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#081b29;
    padding:30px;
    border-radius:10px;
}









